/*========== GOOGLE FONTS ==========*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

/*========== VARIABLES CSS ==========*/
:root {
  --header-height: 3.5rem;
  --nav-width: 219px;

  /*========== Colors ==========*/
  --first-color: #a3a5a5;
  --first-color-light: #14505c;
  --title-color: #ffff;
  --text-color: #ffff;
  --text-color-light: #A5A1AA;
  --body-color: #141922;
  --container-color: #162527;

  /*========== Font and typography ==========*/
  --body-font: 'Poppins', sans-serif;
  --normal-font-size: .938rem;
  --small-font-size: .75rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-fixed: 100;
}

@media screen and (min-width: 1024px) {
  :root {
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*========== BASE ==========*/
*, ::before, ::after {
  box-sizing: border-box;
}

body {
  margin: var(--header-height) 0 0 0;
  padding: 1rem 0 0   4.8rem;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h3 {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*========== HEADER ==========*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--container-color);
  box-shadow: 0 1px 0 rgba(22, 8, 43, 0.1);
  padding: 0 1rem;
  z-index: var(--z-fixed);
}

.header__container {
  display: flex;
  align-items: center;
  height: var(--header-height);
  justify-content: end; /*joselo design*/
}

.header__img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.header__logo {
  color: var(--title-color);
  font-weight: var(--font-medium);
  display: none;
}

.header__search {
  display: flex;
  padding: .40rem .75rem;
  background-color: var(--first-color-light);
  border-radius: .25rem;
}

.header__input {
  width: 100%;
  border: none;
  outline: none;
  background-color: var(--first-color-light);
}

.header__input::placeholder {
  font-family: var(--body-font);
  color: var(--text-color);
}

.header__icon, 
.header__toggle {
  font-size: 1.8rem;
}

.header__toggle {
  color: var(--title-color);
  cursor: pointer;
}

/*========== NAV ==========*/
.nav {
  position: fixed;
  top: 0;
  left: -100%;
  height: 100vh;
  padding: 1rem 1rem 0;
  background-color: var(--container-color);
  box-shadow: 1px 0 0 rgba(22, 8, 43, 0.1);
  z-index: var(--z-fixed);
  transition: .4s;
}

.nav__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 3rem;
  overflow: auto;
  scrollbar-width: none; /* For mozilla */
}

/* For Google Chrome and others */
.nav__container::-webkit-scrollbar {
  display: none;
}

.nav__logo {
  font-weight: var(--font-semi-bold);
  margin-bottom: 2.5rem;
}

.nav__list, 
.nav__items {
  display: grid;
}

.nav__list {
  row-gap: 2.5rem;
}

.nav__items {
  row-gap: 1.5rem;
}

.nav__subtitle {
  font-size: var(--normal-font-size);
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: var(--text-color-light);
  cursor: default;
}

.nav__link {
  display: flex;
  align-items: center;
  color: var(--text-color);
}

.nav__link:hover {
  color: var(--first-color);
}

.nav__icon {
  font-size: 1.2rem;
  margin-right: .5rem;
}

.nav__name {
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
  white-space: nowrap;
}

.nav__logout {
  margin-top: 5rem;
}

/* Dropdown */
.nav__dropdown {
  overflow: hidden;
  max-height: 21px;
  transition: .4s ease-in-out;
}

.nav__dropdown-collapse {
  background-color: var(--first-color-light);
  border-radius: .25rem;
  margin-top: 1rem;
}

.nav__dropdown-content {
  display: grid;
  row-gap: .5rem;
  padding: .75rem 2.5rem .75rem 1.8rem;
}

.nav__dropdown-item {
  font-size: var(--smaller-font-size);
  font-weight: var(--font-medium);
  color: var(--text-color);
}

.nav__dropdown-item:hover {
  color: var(--first-color);
}

.nav__dropdown-icon {
  margin-left: auto;
  transition: .4s;
}

/* Show dropdown collapse */
.nav__dropdown:hover {
  max-height: 100rem;
}

/* Rotate icon arrow */
.nav__dropdown:hover .nav__dropdown-icon {
  transform: rotate(180deg);
}

/*===== Show menu =====*/
.show-menu {
  left: 0;
}

/*===== Active link =====*/
.active {
  color: var(--first-color);
}

/* ========== MEDIA QUERIES ==========*/
@media (max-width: 768px) {
  body {
    padding: 1rem 0 0   0rem;
  }
}
/* For small devices reduce search*/
@media screen and (max-width: 320px) {
  .header__search {
    width: 70%;
  }
}

@media screen and (min-width: 768px) {
  /* body {
    padding: 1rem 1rem 0 5rem;
  } */
  .header {
    padding: 0 3rem 0 6rem;
  }
  .header__container {
    height: calc(var(--header-height) + .5rem);
    justify-content: start; /*joselo design*/
  }
  .header__search {
    width: 300px;
    padding: .55rem .75rem;
  }
  .header__toggle {
    display: none;
  }
  .header__logo {
    display: block;
  }
  .header__img {
    width: 40px;
    height: 40px;
    order: 1;
  }
  .nav {
    left: 0;
    padding: 1.2rem 1.5rem 0;
    width: 68px; /* Reduced navbar */
  }
  .nav__items {
    row-gap: 1.7rem;
  }
  .nav__icon {
    font-size: 1.3rem;
  }

  /* Element opacity */
  .nav__logo-name, 
  .nav__name, 
  .nav__subtitle, 
  .nav__dropdown-icon {
    opacity: 0;
    transition: .3s;
  }
  
  
  /* Navbar expanded */
  .nav:hover {
    width: var(--nav-width);
  }
  
  /* Visible elements */
  .nav:hover .nav__logo-name {
    opacity: 1;
  }
  .nav:hover .nav__subtitle {
    opacity: 1;
  }
  .nav:hover .nav__name {
    opacity: 1;
  }
  .nav:hover .nav__dropdown-icon {
    opacity: 1;
  }
}



/* joselo design */


/* grid container de pelicuals */
.peli-estrenos {
  /* background-color: #A5A1AA; */
  margin-top: 20px;
}

.grid-container-pelis {
  text-align: center;
  /* margin-top: 20px; */
  /* margin-left: 30px; */
  /* margin-right: 30px; */
  display: grid;
  /* gap: 10px 10px 10px 10px; */
  grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
}

.grid-container-pelis > div {
  height: 250px;
  text-align: center;
}

.img-caratula {
  height: 200px;
  width: auto;
}

.link h3 {
  color: #ffff;
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;

}

@media (max-width: 768px) {
  .grid-container-pelis {
    text-align: center;
    margin-top: 0px;
    display: grid;
    /* gap: 10px; */
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  }
  
  .grid-container-pelis > div {
    height: 270px;
    text-align: center;
    margin: 0 8px;
  }
}
/*contenedor grid-----final*/


/* slider start */
.swiper {
  width: 100%;
  /* max-width: 1600px; */
  /* background-color: #0d2326; */
}


.slider-texts {
grid-area: slider-texts;
margin-left: 70px;
}
.slider-picture {
grid-area: slider-picture;
margin-right: 70px;
}

@media (min-width: 1500px) {
  .slider-picture {
    grid-area: slider-picture;
    margin-right: 150px;
    }

    .slider-texts {
      grid-area: slider-texts;
      margin-left: 150px;
      }
}

.swiper-slide {
display: grid;
width: 100%;
height: auto;
grid-template: 
"slider-texts	slider-picture" auto /
auto			auto ;

justify-content: space-between;

}

.slider-texts h2 {
color: #eeee;
}
.slider-texts p {
color: #8799b4;
}

.slider-img {
  width: 200px;
  height: auto;
  /* max-height: 300px; */
}

@media (max-width: 768px) {
  .swiper-slide {
    /* text-align: center; */
    display: flex;
    /* width: 100%; */
    /* height: auto; */
    /* grid-template: 
    "slider-texts" auto
    "slider-picture"	auto /
    auto ; */
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
  }

  .slider-img {
    width: 170px;
    height: auto;
    margin: 20px;
  }

  .slider-picture {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .swiper-hero .swiper-button-prev,
  .swiper-hero .swiper-button-next {
      margin-left: 0;   /*magenss del boton*/
      margin-right: 0;  /*magenss del boton*/
  }

  /* .header {
    grid-area: header;
    margin-bottom: 20px;
  } */

  .slider-review {
    display: none;
  }
  
  .subtitle {
    display: none;
  }
}

.slider-review {
  max-width: 500px;
}
/* @media (min-width: 768px) {
.slider-texts {
  margin-right: 100px;
}

} */

.swiper-hero .swiper-button-prev,
.swiper-hero .swiper-button-next {
--swiper-navigation-size: 20px;
background-color: #01a781;
height: 70px;
width: 50px;
margin-top: -35px;
margin-left: 20px;   /*magenss del boton*/
margin-right: 20px;  /*magenss del boton*/
opacity: 0;
transition: opacity 0.3s;
}
.swiper-hero .swiper-button-prev {
  /* border-radius: 10px 65px 65px 10px; */
border-radius: 30px;
  left: -10px;
color: #eeee;
}
.swiper-hero .swiper-button-next {
/* border-radius: 65px 0 0 65px; */
border-radius: 30px;
right: -10px;
color: #eeee;
}
.swiper-hero:hover .swiper-button-prev,
.swiper-hero:hover .swiper-button-next {
opacity: 1;
}
.swiper-hero .swiper-pagination {
--swiper-pagination-color: #01a781;
--swiper-pagination-bullet-size: 10px;
--swiper-pagination-bullet-inactive-color: #000;
--swiper-pagination-bullet-inactive-opacity: 0.25;
--swiper-pagination-bullet-opacity: 1;
--swiper-pagination-bullet-horizontal-gap: 3px;
}
.swiper-hero .swiper-pagination-bullet {
box-shadow: inset 0 0 0 1px #fff;
}
.swiper-hero .swiper-pagination-bullet-active {
box-shadow: 0 0 0 1px rgba(243, 6, 6, 0.25);
}

/* slider end */
